*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;

}

.landscape{
	background: url("./images/landscape.jpg") no-repeat center; 
	background-size: cover;
	height: 500px;
}

nav{
	background-color: transparent;
	font-family: "Great Vibes", cursive;
}

.brand{
	display: flex;
}

.brand-logo{
	margin: 6px 10px 5px 10px;
}

.brand-name{
	color: white;
}

.link-container{
	display: flex;
	margin-top: px;
	margin-right: 5px;
}


.fixed-nav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 999;
	color: #070707;	
}

.fixed-nav .brand-name{
	color: #070707;
}

.fixed-nav a{
	color: #070707;
}

#landscape-section{
	display: grid;
	place-items: center;
}

.welcome-message-box{
	height: 300px;
	width: 350px;
	border: solid white;
	margin-top: 40px;
	text-transform: capitalize;
	display: grid;
	place-items: center;
	
}

.welcome-message-box h1{
	margin: 40px 20px 20px 20px;
	font-size: 2rem;
}

.welcome-message-box h2{
	font-size: 1.5rem;
}

.welcome-message-box span{
	color: azure;
}



.About-me-container{
	background-color: rgb(248, 239, 239);
	border: 1px solid transparent;
	
}

.About-me-holder{
	margin: auto;
	width: 50%;
	justify-content: center;
	border-radius: 60px;
	margin-bottom: 30px;
	
}

.About-me{
	text-align: center;
}

.image-holder{
	display: flex;
	justify-content: center;
	margin: auto;
}

.image-holder img{
	border-radius: 50%
}

.comment-holder{
	display: flex;
	justify-content: center;
}

.comment{
	text-align: center;
}

.button-wrapper{
	display: flex;
	justify-content: center;
}

.button-wrapper button{
	margin: 5px;
	background: transparent;
	border: 0;
	font-size: 3rem;
}

.Resume-container{
	background-color: white;
	height: 300px;
	text-align: center;
	border: 1px solid transparent;
}

.Resume-btn{
	height: 40px;
	width: 150px;
	border-radius: 10px;
	background-color: black;
	animation: bounce 2s ease-in-out infinite;
	color: beige;

}

.Resume-btn:hover {
	background: transparent;
	color: black
}

.Resume-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
	visibility: hidden;
	z-index: -10;
}

.show-Resume-overlay{
	visibility: visible;
	z-index: 10;
}

.Resume-message-holder{
	background-color: white;
	height: 100px;
	width: 300px;
	border-radius: 20px;
}

.close-btn{
	background: transparent;
	border: 0px;
	color: red;
	font-size: 2rem;
	cursor: pointer;
	animation: bounce 2s ease-in-out infinite;
}

.project-container{
	background-color:rgb(248, 239, 239);;
	display: flex;
	justify-content: center;
	text-align: center;
}

.project-holder{
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 5px;
	background-color: white;
	height: auto;
	width: 60%;
}

.projects-card{
	background-color: rgb(233, 223, 223);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border: ;
}

.projects-btn{
	background-color: transparent;
	border-color: transparent;
}



.project-text-holder{
	display: none;
}

.show-project-text .project-text-holder{
	display: block;
}


.minus-btn{
	display: none;
}

.show-project-text .minus-btn{
	display: inline;
}

.show-project-text .plus-btn{
	display: none;
}

/******menu*******/

.menu-title{
	text-align: center;
}

.underline{
	margin-left: auto;
	margin-right: auto;
}

.menu-buttons{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	
}

.menu-btn{
	border-color: transparent;
	background-color: brown;
	margin: 10px;
	border-radius: 10px;
	height: 30px;
	cursor: pointer;

}

.menu-btn:hover{
	background-color: antiquewhite;

}

.underline{
	height: 2px;
	width: 100px;
	background-color: brown;
	margin-bottom: 10px;
}

.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	gap: 3rem 2rem;
	justify-items: center;
  }

.item-container{
	display: grid;
    max-width: 25rem;
    margin: 20px;
}

.item-photo{
	border: 3px solid brown;
	border-radius: 20px;
	height: 250px;
	width: 100%;

}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
}

.buy-btn{
	height: 30px;
	width: 50px;
	margin-top: 11px;
	background-color: brown;
	border-color: wheat;
	border-radius: 5px;
	cursor: pointer;
}

.buy-btn:hover{
	background-color: transparent;

}
.product-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 7, 8, 0.925);
    display: grid;
    place-items: center;
	visibility: hidden;
	z-index: -10;
}

.show-product-overlay{
	visibility: visible;
	z-index: 10;
}

.product-message-holder{
	background-color: white;
	height: 150px;
	width: 300px;
	border-radius: 20px;
	display: grid;
	
	
	
}

.product-message-header{
	display: flex;
    justify-content: space-between;
	
	
	
}

.product-message-header h2{
	padding-top: 12px;
	margin-left: 80px;
}

.product-close-btn{
	background: transparent;
	border: 0px;
	color: red;
	font-size: 2rem;
	cursor: pointer;
	
}

.contact-us-btns{
	font-size: 2rem;
	border: transparent;
	background-color: transparent;
	margin-top: 0;
	animation: bounce 2s ease-in-out infinite;
}

.contact-us-btns i{
	margin: 10px;
}

/****video******/
.video-section{
	display: grid;
	place-items: center;
	position: relative;
}

.preloader{
	position: absolute;
	top: 7%;
	left: 0;
	bottom: 0;
	z-index: 1;
	visibility: visible;
	display: grid;
	place-items: center;
	background: black;
	width: 100%
	
}

.hide-preloader{
	z-index: -1;
	visibility: hidden;
}

.video-header{
	display: grid;
	place-items: center;
	position: relative;
	
}

.video-container{
	width: 100%;
}

.video-header h1{
	position: absolute;
	color: azure;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

	

.switch-btn{
	position: absolute;
	left: 7%;
	bottom: 5%;
	height: 30px;
	width: 100px;
	background-color: aquamarine;
	border: transparent;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.switch span{
	margin: 2px;
	display: inline-flex;
}

.switch{
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: whitesmoke;
	height: 100%;
	width: 50%;
	margin: 0;
	border-radius: 10px;
}

.slide .switch {
	left: 50%;
  }

  /***top link*****/
  .top-link{
	position: fixed;
	right: 5px;
	top: 450px;
	font-size: 15px;
	background-color: aqua;
	border: none;
	border-radius: 5px;
	animation: bounce 2s ease-in-out infinite;
	z-index: 999;
	visibility: hidden;	
  }

  .show-top-link{
	visibility: visible;
  }

  footer{
	height: 100px;
	display: grid;
	place-items: center;
	background-color: aquamarine;
	margin-top: 10px;
  }

  footer p{
	color: black;
  }

  /*****history*******/
  .history-section{
	margin-top: 20px;
	text-align: center;
	background-color: whitesmoke;
  }

  .history-section h1{
	padding-top: 50px;
  }

  .line-breaker{
	width: 20%;
	height: 3px;
	background-color: black;
	margin: auto;
  }

  .history-container{
	margin-top: 20px;
  }

  .history-img{
	border: solid rgb(7, 7, 7);
	border-radius: 20px;
  }

  .history-btn{
	background-color: aliceblue;
	padding: 0.5rem ;
    border: none;
	border-radius: 5px;
  }

  .history-btn.active{
	background-color: black;
	color: white;
  }

  .history-message{
	display: none;
  }

  .history-message.active{
	display: block;
  }

  /*****birthday*******/
  .birthday-section{
	text-align: center;
  }

.countdown-container{
	display: grid;
	place-items: center;
}

.birthday-update{
	font-family: 'Segoe UI', Tahoma;
}
  .countdown-holder{
	display: flex;
  }

  .expired{
	width: 80%;
	height: 100px;
	background-color: #070707;
	color: aliceblue;
  }

  .countdown-format{
	margin: 10px;
	background-color: black;
	color: white;
	height: 100px;
	width: 70px;
	border-radius: 10px;
  }

  .countdown-format span{
	margin-bottom: 10px;
  }

  /*****paragraphs********/
  .paragraph-section{
	display: grid;
	place-items: center;
	background-color: antiquewhite;
  }

  #amount{
	width: 50px;
	margin-right: 20px;
  }

  .paragraph-button{
	background-color: blueviolet;
	border: none;
	border-radius: 10px;
	height: 30px;
	cursor: pointer;
  }

  .paragraph-button:hover {
	background-color: black;
	color: aliceblue;
  }

  .paragraph{
	text-align: center;
	margin: 20px;
  }

  /******grocery******/
  .grocery-section{
	display: grid;
	place-items: center;
  }

  .alert-container{
	display: flex;
	justify-content: center;
	visibility: hidden;
  }

  .show-alert-container{
	visibility: visible;
  }

  .alert{
	background-color: green;
	padding: 0px 30px 0px 30px;
  }

  .alert-danger{
	color: red;
	background-color: #f8d7da;
  }

  .alert-success{
	color: green;
	background-color: #d4edda;
  }
  .grocery-header h3{
	text-align: center;
  }

  .grocery-item{
	width: 300px;
	border: solid aquamarine;
	margin-right: 0;
  }

  .submit-btn{
	margin-left: 0;
  }
  .grocery-container{
	display: grid;
	place-items: center;
	margin-top: 5px;
	background-color: azure;
	visibility: hidden;
  }

  .show-grocery-container{
	visibility: visible;
  }

  .grocery-title{
	margin: 0;
  }

  .grocery-btn-container button{
     border: none;
	 background-color: azure;
  }

  .edit-btn{
	color: green;
  }

  .delete-btn{
	color: red;
  }
  .grocery-article{
	width: 400px;
	display: flex;
	justify-content: space-around;
  }

.clear-btn{
	border: none;
	color: red;
}
 

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/******mobile view*******/
@media (max-width: 599px){

nav{

	height: auto;
}


.navbrand{
	line-height: 2px;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0px;
}

.toggle{
	height: 30px;
	width: 30px;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
	
}

.link-container{
	list-style-type: none;
	height: 8rem;
	display: block;
	background-color: black ;
	

}

.mylinks{
	list-style-type: none;
	padding: 0;
	margin: 0
}

.mylinks a{
	display: block;
	padding-left: 8px;
	margin-left: 0;

}

.links a:hover{
	background-color: white;
	color: black;
}

.links{
	height: 0;
	overflow: hidden;
	padding: 0;

}

.show-links{
	list-style-type: none;
	height: 8rem;
	display: block;
	background-color: black ;
	border-radius: 5px;

}

.link-container a{
	text-decoration: none;
	color: white;
	margin: 8px;


}

.social-media{
	display: flex;
	list-style-type: none;
	padding: 0;
	margin-bottom: 3px;

}

.fixed-nav a{
	color: white;
}

.welcome-message-box{
	height: 250px;
	width: 300px;
	
}

.welcome-message-box h1{
	margin: 50px 10px 10px 20px;
	font-size: 1.5rem;
	;
}

.welcome-message-box h2{
	margin: 5px 10px 50px 20px;
	font-size: 1.5rem;
}

}
/******Desktop view only*******/
@media (min-width: 599.1px){

nav{
	display: flex;
	height: auto;
	
}

.navbrand{
	line-height: 2px;
	margin-right: auto;
	margin-left: 0;
}

.brand{
	margin-left: 0;
}



.toggle{
	display: none;
}

a{
	text-decoration: none;
	color: white;
	margin: 7px;
}

.links{
	display: flex;
}

.mylinks{
	display: flex;
	list-style-type: none;
	height: auto;
}

.social-media{
	display: flex;
	list-style-type: none;

}

.history-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
  }
 
}


@media (min-width: 577px) {
	.item-container {
	  grid-template-columns: 300px 1fr;
	  gap: 0 1.25rem;
	  max-width: 40rem;
	}
	.photo {
	  height: 175px;
	}

	
  }

  @media screen and (min-width: 1046px) {
	.section-center {
	  width: 85vw;
	  grid-template-columns: 1fr 1fr;
	   max-width: 1170px; 
	   margin: 0; 
	  
	}

	.item-container{
		margin: 5px;
	}
	.photo {
	  height: 150px;
	  
	}
	
  }